<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hugo.system.mapper.RbacMapper">
    <!--  菜单  -->
    <sql id="selectMenuVo">
        select distinct m.*
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role r on r.role_id = sur.role_id
    </sql>
    <select id="selectMenuAll" resultType="SysMenu">
        <include refid="selectMenuVo"/>
        where m.status = '0'
        and r.status = '0'
        and m.platform_id=#{platformId} order by m.order_num
    </select>
    <select id="selectMenuByUserId" resultType="SysMenu">
        <include refid="selectMenuVo"/>
        where m.status = '0'
        and r.status = '0'
        and sur.user_id = #{userId} and m.platform_id=#{platformId} order by m.order_num
    </select>
    <select id="selectBtnPermByUserId" resultType="SysMenu">
        <include refid="selectMenuVo"/>
        where m.status = '0'
        and r.status = '0'
        and sur.user_id = #{userId} and m.menu_type = "F" and m.platform_id=#{platformId} order by m.order_num
    </select>


    <!--角色筛选-->
    <sql id="selectRole">
        select r.*
        from sys_role r
                 left join sys_user_role sur on sur.role_id = r.role_id
    </sql>
    <select id="selectRolesByUserId" resultType="SysRole">
        <include refid="selectRole"/>
        WHERE r.del_flag = '0' and sur.user_id = #{userId}
    </select>
</mapper>