#parse("formUtils.vm")
<template>
    <div class="add-or-edit sub-form-style">
        <Card ref="baseInfo" title="新增编辑">
            <el-form ref="reSubForm" :model="subForm" label-width="120px" label-position="left">
                #formItemTemp()
            </el-form>
        </Card>
        <div :class="{ 'footer-btn': true, 'footer-left': !$store.state.app.sidebar.opened }">
            <el-button @click="handleCancel">取消</el-button>
            <el-button type="primary" @click="handleSubmit">提交</el-button>
        </div>
    </div>
</template>

<script>
    import subFormMixin from '@/mixins/subFormMixin.js'
    import routerMixin from '@/mixins/routerMixin.js'
    #subFormImport()
    export default {
        name: 'AddOrEdit',
        components: { #subFormComponent() },
        mixins: [subFormMixin, routerMixin],
        data() {
            return {
                detailData: {},
                pageEdit: false,
                subForm: {
                    #fromKeyData()
                },
                #formDataScript()
            }
        },
        created() {
            // 详情回显数据
            const { edit, row } = this.queryParamsMixin()
            if (edit) {
                this.pageEdit = true
                this.settleDetail(row.id)
            }
        },
        mounted() {
            #formMountedScript()
        },
        methods: {
            #formMethodScript()
            // 新增费用策略
            async handleSubmit() {
                if (this.pageEdit) {
                    this.globalApi.${frontConfig.apiFileName}.${frontConfig.apiFileName}Update(subData).then(()=>{
                        this.$message.success('更新成功')
                        this.$router.back()
                    })
                } else {
                    this.globalApi.${frontConfig.apiFileName}.${frontConfig.apiFileName}Insert(subData).then(()=>{
                        this.$message.success('新增成功')
                        this.$router.back()
                    })
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>

