#macro(detailContainer)
    #foreach($pItem in $tableConfigArr)
        ## 横向
        #if($pItem.direction=="1")
        <Card ref="baseInfo" title="${pItem.cartTitle}" class="mb12">
            <div class="rowSS detail-container">
                #foreach($fItem  in $pItem.dillColumnArr)
                    <div class="detail-row-container">
                        #foreach($sItem in $fItem )
                            <div class="rowSS detail-container">
                                <div class="detail-item">
                                    <span class="w${sItem.width}">${sItem.desc}:</span>
                                    #if($sItem.componentType=="input") ##input
                                        <output>{{detailData.$sItem.columnName}}</output>
                                    #elseif($sItem.componentType=="select") ##select
                                        #foreach($enum in $sItem.optionDataArr)
                                            <output v-if="detailData.$sItem.columnName==${enum.value}">${enum.label}</output>
                                        #end
                                    #end
                                </div>
                            </div>
                        #end
                    </div>
                #end
            </div>
        </Card>
        #end
        ## 纵向
        #if($pItem.direction=="2")
        <Card ref="baseInfo" title="${pItem.cartTitle}" class="mb12">
            #foreach($fItem  in $pItem.dillColumnArr)
                <div class="mt24">
                    #foreach($sItem in $fItem )
                        <div class="detail-item">
                            <span class="w${sItem.width}">${sItem.desc}:</span>
                            #if($sItem.componentType=="input") ##input
                                <output>{{detailData.$sItem.columnName}}</output>
                            #elseif($sItem.componentType=="select") ##select
                                #foreach($enum in $sItem.optionDataArr)
                                    <output v-if="detailData.$sItem.columnName==${enum.value}">${enum.label}</output>
                                #end
                            #end
                        </div>
                    #end
                </div>
            #end
        </Card>
        #end
        ## 表格
        #if($pItem.direction=="3")
        <Card ref="baseInfo" title="手续费配置" class="mb12">
            <el-table class="hide-table-hover" :data="tableData" border style="width: 100%; margin-top: 20px">
                #foreach($fItem  in $pItem.dillColumnArr)
                    #if($fItem.isTemplate==true)
                        <el-table-column prop="$fItem.columnName" label="$fItem.desc" width="$fItem.width"
                                         align="center">
                            <template v-slot="{ row }">
                                #if($fItem.componentType=="input") ##input
                                    <span>{{row.$fItem.columnName}}</span>
                                #elseif($fItem.componentType=="select") ##select
                                    #foreach($enum in $fItem.optionDataArr)
                                        <span v-if="row.${fItem.columnName}==${enum.value}">${enum.label}</span>
                                    #end
                                #end
                            </template>
                        </el-table-column>
                    #else
                        <el-table-column prop="$fItem.columnName" label="$fItem.desc" width="$fItem.width"
                                         align="center"/>
                    #end
                #end
            </el-table>
        </Card>
        #end
    #end
#end
