#parse("table-query-utils.vm")
<template>
    <div class="service-split-fee pl24 pr24 pt24">
        <!--  查询表单   -->
        <el-form ref="refSearchForm" :model="searchFormMixin" :inline="true">
            #queryFormItemTmp()
            <!--查询按钮-->
            <el-button type="primary" class="ml30" @click.stop="initQueryList">查询</el-button>
            <el-button type="reset" @click.native="resetBtnMixin('refSearchForm')">重置</el-button>
        </el-form>
        <!-- 表单操作   -->
        <div class="mb24 rowEC">
            #if($tableConfig.isAdd=="true")
                <el-button
                        @click="routerPushMixin('/billing-center/service-split-fee/add-or-edit', { type: 'add' })"
                >
                    新建
                </el-button>
            #end
            #if($tableConfig.isFilterHead=="true")
                <ColumnFilter :is-operation="true" :cols="tableHeadArrMixin" @colChange="colChangeMixin" />
            #end
        </div>
        <!-- el-table   -->
        <el-table
                v-if="tableDataMixin.length"
                ref="refElTable"
                style="width: 100%"
                :loading="tableLoadingMixin"
                highlight-current-row
                border
                :data="tableDataMixin"
        >
            <template v-for="(item, index) in tableHeadArrMixin">
                <el-table-column
                        v-if="!item.isNotShowCol && !item.isTemplate"
                        :key="item.prop"
                        show-overflow-tooltip
                        v-bind="item"
                        :align="index === 0 ? 'left' : 'center'"
                        :prop="item.prop"
                        :label="item.label"
                >
                    <template v-slot="{ row }">
                        <span>{{ row[item.prop] || '-' }}</span>
                    </template>
                </el-table-column>
               #customTableHead()
            </template>
            <!--点击操作-->
            <el-table-column fixed="right" align="center" label="操作" width="156">
                <template v-slot="{ row }">
                    <div class="rowSC operate-btn-style">
                        #if($tableConfig.isEdit=="true")
                            <div @click="operateEdit(row)"><span>编辑</span></div>
                        #end
                        #if($tableConfig.isInvalid=="true")
                            <div class="mb1">
                                <el-popconfirm
                                        v-if="row.useStatus !== 2"
                                        confirm-button-text="作废"
                                        cancel-button-type=""
                                        title="删除后将严重影响商户账单的生成，确定要作废该策略吗？"
                                        cancel-button-text="取消"
                                        @confirm="${frontConfig.apiFileName}Invalid(row)"
                                >
                                    <el-link slot="reference" :underline="false" class="link-color">作废</el-link>
                                </el-popconfirm>
                            </div>
                        #end
                        #if($tableConfig.isDetail=="true")
                            <div @click="routerPushMixin('${frontConfig.detailPath}', { row })"><span>详情</span></div>
                        #end
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <!--  空时的数据  -->
        <template v-else>
            <Empty :width="'300px'" :height="'223px'" class="table-empty" />
        </template>
        #if($tableConfig.isPagination=="true")
            <!-- 分页   -->
            <div v-if="pageTotalMixin >= 10" class="block columnCE">
                <el-pagination
                        :current-page="pageNumMixin"
                        :page-sizes="[10, 20, 50, 100, 200]"
                        :page-size="pageSizeMixin"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pageTotalMixin"
                        @size-change="handleSizeMixin"
                        @current-change="handleCurrentMixin"
                />
            </div>
        #end
    </div>
</template>

<script>
    import tableMixin from '@/mixins/tableMixin.js'
    import routerMixin from '@/mixins/routerMixin.js'
    import columnFilterMixin from '@/mixins/columnFilterMixin.js'
    export default {
        name: 'ServiceSplitFee',
        mixins: [tableMixin, routerMixin, columnFilterMixin],
        props: {},
        data() {
            return {
                #queryDataScript()
                searchFormMixin: {
                   #queryformKey()
                }
            }
        },
        mounted() {
            //表头数据
            this.tableHeadArrMixin = [
               #tableOfHead()
            ]
            #queryMountedScript()
            this.initQueryList()
        },
        methods: {
            //去编辑页面
            operateEdit(row) {
                this.routerPushMixin('${frontConfig.addEditPath}', { edit: true, row })
            },
            #queryMethodScript()

            // 作废
            ${frontConfig.apiFileName}Invalid({ id }) {
                this.globalApi.${frontConfig.apiFileName}.${frontConfig.apiFileName}Invalid(id).then(() => {
                    this.queryList()
                })
            },

            //查询列表，此处设置了分页数为1
            initQueryList() {
                this.pageNumMixin = 1
                this.queryList()
            },

            // 分页获取简单费用策略集合
            queryList() {
                const searchData = Object.assign(this.searchFormMixin, {
                    pageIndex: this.pageNumMixin,
                    pageSize: this.pageSizeMixin
                })
                this.globalApi.${frontConfig.apiFileName}.tableQuery(searchData).then(({ data, total }) => {
                this.tableDataMixin = data
                this.pageTotalMixin = total
                })
            }
        }
    }
</script>

<style lang="scss" scoped></style>
