##column
#macro(tableColumnScript)
#foreach($item in $tableConfig)
    #if($foreach.count==1)
        {
        label: '$item.desc',
        prop: '$item.field',
        'min-width': "$!item.width",
        align: 'left'
        },
        #else
        {
        label: '$item.desc',
        prop: '$item.field',
        'min-width': "$!item.width",
        },
        #end
    #end
#end
##tableDataReq
#macro(tableDataReq)
this.$api.${frontConfig.apiFileName}.${frontConfig.apiFileName}Query(data).then((response) => {
this.dataSource.data = response.data
this.dataSource.pageData.total = response.total
})
.catch(() => {
})
#end
##deleteReq
#macro(deleteReq)
this.$api.${frontConfig.apiFileName}.${frontConfig.apiFileName}Delete(data).then((response) => {
if (response.code === "200") {
this.$message.success("删除成功");
this.status = false;
this.successStatus = true;
}
});
#end
##dataSourceTool
#macro(tableDataSourceTool)
tool: [
    #if($frontConfig.tableNeedExport)
    {
    name: '导出',
    handleClick: this.handleExport
    },
    #end
    #if($frontConfig.tableNeedImport)
    {
    btnName: '导入发货单',
    modelExcelType: 'exportEquipmentSend',
    importExcelType: 'importEquipmentSend',
    component: 'Import' // 配置列表设置组件
    },
    #end
{
component: 'Drag' // 配置列表设置组件
}
],
#end
##tableScript
#macro(tableExportMethod)
    #if($frontConfig.tableNeedExport)
    handleExport() {
    const params = JSON.parse(JSON.stringify(this.listQuery))
    params.pageIndex = 1
    params.pageSize = 1000
    // delete params.time
    this.$request('$frontConfig.exportUrl', {
    data: params
    }).then((response) => {
    this.$alert('请前往导出中心下载表格', '提交成功', {
    confirmButtonText: '去下载表格',
    callback: (action) => {
    if (action === 'confirm') {
    const rt=this.$router
    rt.push({
    path: '/center/index',
    query: { activeType: 2 }
    })
    }
    }
    })
    })
    .catch(() => {})
    },
    #end
#end