<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hugo.generator.mapper.DataBaseMapper">


    <select id="getAllTableFromDb" resultType="java.util.Map">
        SELECT table_schema, table_name, table_comment, create_time, update_time
        FROM information_schema.tables
        WHERE TABLE_SCHEMA = #{dbName}
    </select>

    <select id="getAllColumnFromTb" resultType="java.util.Map">
        SELECT table_schema,
               table_name,
               column_name,
               is_nullable,
               data_type,
               column_type,
               column_key,
               extra,
               column_comment
        FROM INFORMATION_SCHEMA.COLUMNS COL
        Where TABLE_SCHEMA = #{dbName}
          AND COL.TABLE_NAME = #{tbName}
    </select>

</mapper>
