package ${basicConfig.packageName}.service;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${basicConfig.packageName}.entity.${dbTableConfig.tableNameCase};
/**
*  ${dbTableConfig.tableDesc}Service
*
* @author ${basicConfig.author}
* @since ${basicConfig.dataTime}
*/
@Service
public class ${dbTableConfig.tableNameCase}Service {

    @Resource
    private ${dbTableConfig.tableNameCase}Mapper ${dbTableConfig.tableName}Mapper;

    public Page< ${dbTableConfig.tableNameCase} > selectPage(Integer pageNum, Integer pageSize, QueryWrapper< ${dbTableConfig.tableNameCase} > queryWrapper) {
    return this.${dbTableConfig.tableName}Mapper.selectPage(new Page< ${dbTableConfig.tableNameCase} >(pageNum, pageSize), queryWrapper);
    }

    public ${dbTableConfig.tableNameCase} selectById(${dbTableConfig.uniKeyType} id) {
    return this.${dbTableConfig.tableName}Mapper.selectById(id);
    }

    public List< ${dbTableConfig.tableNameCase} > selectBatchIds(List< ${dbTableConfig.uniKeyType} > idList) {
    return this.${dbTableConfig.tableName}Mapper.selectBatchIds(idList);
    }

    public int insert(${dbTableConfig.tableNameCase} ${dbTableConfig.tableName}) {
    return this.${dbTableConfig.tableName}Mapper.insert(${dbTableConfig.tableName});
    }

    public int updateById(${dbTableConfig.tableNameCase} ${dbTableConfig.tableName}) {
    return this.${dbTableConfig.tableName}Mapper.updateById(${dbTableConfig.tableName});
    }

    public int deleteById(${dbTableConfig.uniKeyType} id) {
    return this.${dbTableConfig.tableName}Mapper.deleteById(id);
    }

    public int deleteBatchIds(List< ${dbTableConfig.uniKeyType} > idList) {
    return this.${dbTableConfig.tableName}Mapper.deleteBatchIds(idList);
    }
}
