package ${basicConfig.packageName}.entity;
import java.util.*;
/**
*  ${dbTableConfig.multiTableDesc}实体类
*
* @author ${basicConfig.author}
* @since ${basicConfig.dataTime}
*/
@Data
@ApiModel("${dbTableConfig.multiTableDesc}")
public class ${dbTableConfig.multiTableNameCase}Vo  {
#foreach($mtcItem in $multiTableConfig)
    #foreach( $tfItem in $mtcItem.tableFormArr)
    @ApiModelProperty(value = "$tfItem.desc")
    private ${tfItem.type} $tfItem.field;
    #end
#end

}
